@import 'tailwindcss';
@import 'tw-animate-css';
@import '@fontsource-variable/geist';

@custom-variant dark (&:is(.dark *));

:root {
	--background: #fafafa;
	--foreground: #0a0a0a;

	--card: #f5f5f5;
	--card-foreground: #0a0a0a;

	--popover: #f5f5f5;
	--popover-foreground: #0a0a0a;

	--primary: #e56f00;
	--primary-foreground: #ffffff;

	--secondary: #ebebeb;
	--secondary-foreground: #333333;

	--muted: #f2f2f2;
	--muted-foreground: #707070;

	--accent: #f2f2f2;
	--accent-foreground: #0a0a0a;

	--destructive: #ff4400;
	--destructive-foreground: #ffffff;

	--border: #d6d6d6;
	--input: #d6d6d6;
	--ring: #c2c2c2;

	--chart-1: #3b1d05;
	--chart-2: #eea064;
	--chart-3: #d5751c;
	--chart-4: #c09bb8;
	--chart-5: #a67fa9;

	--sidebar: var(--background);
	--sidebar-foreground: #0a0a0a;

	--sidebar-primary: #e56f00;
	--sidebar-primary-foreground: #ffffff;

	--sidebar-accent: #f2f2f2;
	--sidebar-accent-foreground: #0a0a0a;

	--sidebar-border: #d6d6d6;
	--sidebar-ring: #c2c2c2;

	--radius: 0.1rem;

	/* only extra vars */

	--bg-hover: #f5f5f5;
	--bg-highlight: #f2f2f2;

	--bg-inverted: #0a0a0a;
	--bg-inverted-hover: #292929;

	--fill: #ebebeb;
	--fill-highlight: #d6d6d6;

	--stroke: #d6d6d6;
	--stroke-active: #c2c2c2;

	--fg-secondary: #333333;
	--fg-tertiary: #707070;
	--fg-inverted: #ffffff;

	--icon: #0a0a0a;
	--icon-secondary: #333333;
	--icon-tertiary: #707070;
	--icon-inverted: #ffffff;

	--accent-main-highlight: #e56f00;
	--accent-main-bg: #e56f0029;

	--accent-positive-highlight: #00a670;
	--accent-positive-bg: #00a67029;

	--accent-info-highlight: #3c98c7;
	--accent-info-bg: #3d99c733;
	--accent-info-bg-large: #3d99c71a;

	--accent-warning-highlight: #d1a102;
	--accent-warning-bg: #d1a10224;
	--accent-warning-bg-large: #d1a10214;

	--accent-error-highlight: #ff4400;
	--accent-error-bg: #ff440029;
	--accent-error-bg-large: #ff440014;
	--accent-error-bg-large-solid: #faebe6;

	--accent-secondary-error-highlight: #ff8763;
	--accent-secondary-error-bg: #ff876329;

	--graph-6: #8c5ca5;

	--shadow: #e6e6e6;
	--shadow-strength: 0.3;

	--graph-area-accent-main-from: #e56f0029;
	--graph-area-accent-main-to: #fafafa29;

	--graph-area-accent-positive-from: #00a67029;
	--graph-area-accent-positive-to: #fafafa33;

	--graph-area-fg-from: #6c6c6c33;
	--graph-area-fg-to: #fafafa33;

	--graph-area-1-from: #3b1d0542;
	--graph-area-1-to: #fafafa29;

	--graph-area-2-from: #eea06442;
	--graph-area-2-to: #fafafa29;

	--graph-area-3-from: #d5751c38;
	--graph-area-3-to: #fafafa29;

	--graph-area-4-from: #c09bb82e;
	--graph-area-4-to: #fafafa33;

	--graph-area-5-from: #a67fa92e;
	--graph-area-5-to: #fafafa33;

	--graph-area-6-from: #8c5ca52e;
	--graph-area-6-to: #fafafa33;
}

.dark {
	--background: #0a0a0a;
	--foreground: #ffffff;

	--card: #141414;
	--card-foreground: #ffffff;

	--popover: #141414;
	--popover-foreground: #ffffff;

	--primary: #ff8800;
	--primary-foreground: #0a0a0a;

	--secondary: #292929;
	--secondary-foreground: #e6e6e6;

	--muted: #1f1f1f;
	--muted-foreground: #848484;

	--accent: #1f1f1f;
	--accent-foreground: #ffffff;

	--destructive: #f54545;
	--destructive-foreground: #ffffff;

	--border: #292929;
	--input: #292929;
	--ring: #424242;

	--chart-1: #fce8d8;
	--chart-2: #f7b076;
	--chart-3: #e27c1d;
	--chart-4: #d4b0cc;
	--chart-5: #ba94bd;

	--sidebar: var(--background);
	--sidebar-foreground: #ffffff;

	--sidebar-primary: #ff8800;
	--sidebar-primary-foreground: #0a0a0a;

	--sidebar-accent: #1f1f1f;
	--sidebar-accent-foreground: #ffffff;

	--sidebar-border: #292929;
	--sidebar-ring: #424242;

	--radius: 0.1rem;

	/* only extra vars */

	--bg-hover: #141414;
	--bg-highlight: #1f1f1f;

	--bg-inverted: #ffffff;
	--bg-inverted-hover: #ebebeb;

	--fill: #292929;
	--fill-highlight: #383838;

	--stroke: #292929;
	--stroke-active: #424242;

	--fg-secondary: #e6e6e6;
	--fg-tertiary: #848484;
	--fg-inverted: #0a0a0a;

	--icon: #ffffff;
	--icon-secondary: #e6e6e6;
	--icon-tertiary: #848484;
	--icon-inverted: #0a0a0a;

	--accent-main-highlight: #ff8800;
	--accent-main-bg: #ff880029;

	--accent-positive-highlight: #00d992;
	--accent-positive-bg: #00d99229;

	--accent-info-highlight: #59a8e1;
	--accent-info-bg: #59a8e138;
	--accent-info-bg-large: #59a8e11f;

	--accent-warning-highlight: #ffff00;
	--accent-warning-bg: #ffff0029;
	--accent-warning-bg-large: #ffff0014;

	--accent-error-highlight: #f54545;
	--accent-error-bg: #f5454529;
	--accent-error-bg-large: #f5454514;
	--accent-error-bg-large-solid: #1d0f0f;

	--accent-secondary-error-highlight: #ff8763;
	--accent-secondary-error-bg: #ff876329;

	--graph-6: #a275bb;

	--shadow: #080808;
	--shadow-strength: 0.2;

	--graph-area-accent-main-from: #ff880038;
	--graph-area-accent-main-to: #0a0a0a33;

	--graph-area-accent-positive-from: #00d99238;
	--graph-area-accent-positive-to: #0a0a0a33;

	--graph-area-1-from: #fce8d859;
	--graph-area-1-to: #0a0a0a33;

	--graph-area-2-from: #f7b0764d;
	--graph-area-2-to: #0a0a0a33;

	--graph-area-3-from: #e27c1d40;
	--graph-area-3-to: #0a0a0a33;

	--graph-area-fg-from: #6c6c6c33;
	--graph-area-fg-to: #0a0a0a33;

	--graph-area-4-from: #d4b0cc40;
	--graph-area-4-to: #0a0a0a33;

	--graph-area-5-from: #ba94bd40;
	--graph-area-5-to: #0a0a0a33;

	--graph-area-6-from: #a275bb40;
	--graph-area-6-to: #0a0a0a33;
}

@theme inline {
	--font-sans: 'Geist Variable', sans-serif;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* extra custom theme colors */

	--color-bg-hover: var(--bg-hover);
	--color-bg-highlight: var(--bg-highlight);

	--color-bg-inverted: var(--bg-inverted);
	--color-bg-inverted-hover: var(--bg-inverted-hover);

	--color-fill: var(--fill);
	--color-fill-highlight: var(--fill-highlight);

	--color-stroke: var(--stroke);
	--color-stroke-active: var(--stroke-active);

	--color-fg-secondary: var(--fg-secondary);
	--color-fg-tertiary: var(--fg-tertiary);
	--color-fg-inverted: var(--fg-inverted);

	--color-icon: var(--icon);
	--color-icon-secondary: var(--icon-secondary);
	--color-icon-tertiary: var(--icon-tertiary);
	--color-icon-inverted: var(--icon-inverted);

	--color-accent-main-highlight: var(--accent-main-highlight);
	--color-accent-main-bg: var(--accent-main-bg);

	--color-accent-positive-highlight: var(--accent-positive-highlight);
	--color-accent-positive-bg: var(--accent-positive-bg);

	--color-accent-info-highlight: var(--accent-info-highlight);
	--color-accent-info-bg: var(--accent-info-bg);
	--color-accent-info-bg-large: var(--accent-info-bg-large);

	--color-accent-warning-highlight: var(--accent-warning-highlight);
	--color-accent-warning-bg: var(--accent-warning-bg);
	--color-accent-warning-bg-large: var(--accent-warning-bg-large);

	--color-accent-error-highlight: var(--accent-error-highlight);
	--color-accent-error-bg: var(--accent-error-bg);
	--color-accent-error-bg-large: var(--accent-error-bg-large);
	--color-accent-error-bg-large-solid: var(--accent-error-bg-large-solid);

	--color-accent-secondary-error-highlight: var(--accent-secondary-error-highlight);
	--color-accent-secondary-error-bg: var(--accent-secondary-error-bg);

	--color-graph-6: var(--graph-6);

	--color-shadow: var(--shadow);

	--color-graph-area-accent-main-from: var(--graph-area-accent-main-from);
	--color-graph-area-accent-main-to: var(--graph-area-accent-main-to);

	--color-graph-area-accent-positive-from: var(--graph-area-accent-positive-from);
	--color-graph-area-accent-positive-to: var(--graph-area-accent-positive-to);

	--color-graph-area-fg-from: var(--graph-area-fg-from);
	--color-graph-area-fg-to: var(--graph-area-fg-to);

	--color-graph-area-1-from: var(--graph-area-1-from);
	--color-graph-area-1-to: var(--graph-area-1-to);

	--color-graph-area-2-from: var(--graph-area-2-from);
	--color-graph-area-2-to: var(--graph-area-2-to);

	--color-graph-area-3-from: var(--graph-area-3-from);
	--color-graph-area-3-to: var(--graph-area-3-to);

	--color-graph-area-4-from: var(--graph-area-4-from);
	--color-graph-area-4-to: var(--graph-area-4-to);

	--color-graph-area-5-from: var(--graph-area-5-from);
	--color-graph-area-5-to: var(--graph-area-5-to);

	--color-graph-area-6-from: var(--graph-area-6-from);
	--color-graph-area-6-to: var(--graph-area-6-to);

	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
	* {
		@apply border-stroke ring-ring outline-ring;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}

	h1,
	h2,
	h3 {
		@apply uppercase;
		font-size: 1.25rem !important;
		line-height: 1.25rem !important;
		font-weight: 700 !important;
	}

	h4,
	h5,
	h6 {
		@apply uppercase;
		font-size: 1rem !important;
		line-height: 1.25rem !important;
		font-weight: 700 !important;
	}

	.font-mono {
		@apply !tracking-[0%];
	}
}

@custom-variant data-open {
	&:where([data-state='open']),
	&:where([data-open]:not([data-open='false'])) {
		@slot;
	}
}

@custom-variant data-closed {
	&:where([data-state='closed']),
	&:where([data-closed]:not([data-closed='false'])) {
		@slot;
	}
}

@custom-variant data-checked {
	&:where([data-state='checked']),
	&:where([data-checked]:not([data-checked='false'])) {
		@slot;
	}
}

@custom-variant data-unchecked {
	&:where([data-state='unchecked']),
	&:where([data-unchecked]:not([data-unchecked='false'])) {
		@slot;
	}
}

@custom-variant data-selected {
	&:where([data-selected]) {
		@slot;
	}
}

@custom-variant data-disabled {
	&:where([data-disabled='true']),
	&:where([data-disabled]:not([data-disabled='false'])) {
		@slot;
	}
}

@custom-variant data-active {
	&:where([data-state='active']),
	&:where([data-active]:not([data-active='false'])) {
		@slot;
	}
}

@custom-variant data-horizontal {
	&:where([data-orientation='horizontal']) {
		@slot;
	}
}

@custom-variant data-vertical {
	&:where([data-orientation='vertical']) {
		@slot;
	}
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
